<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Event</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/auction">Auction</a></li>
        <li><a href="/sponsor">Sponsorships</a></li>
        <li><a href="/register">Registration</a></li>
        <li><a href="/history">Ozanam</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{{#if head_image_class}}<div class="{{head_image_class}}"></div>{{/if}}
