<% include header.html %>
<div id="wrap">
<div class="container content">
  <!-- content start  -->
<h2 class="blue">Registration Payment Cancelled</h2>
<p>We will contact you soon to confirm your sponsorship. Your confirmation code is: </p>
<p class="monotype"><%=id.toUpperCase()%></p>

<p>Please mail a check for the amount of <span class="monotype">$<%=amount%></span> payable to:
<address>
  <strong>Ozanam</strong><br>
  421 E 137th Street<br>
  Kansas City, MO 64145<br>
</address>
</p>

<p>Please share this event with your friends and colleagues.</p>

<% include footer.html %>
<% include scripts.html %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script> 
  <script type="text/javascript" src="/js/payment.js"></script>
<% include tail.html %>
