<% include header.html %>
<div id="wrap">
  <div class="container content">
  <!-- content start  -->

<h2 class="blue">Donate an Auction Item</h2>
  <form id="donateForm" method="POST" action="/auction">
      <fieldset>
          <legend>Auction Item Donation Form</legend>
          <div class="form-horizontal">
            <div class="control-group">
              <label for="company" class="control-label">Donor Name</label>
              <div class="controls">
                  <input type="text" name="name" id="name" placeholder="Donor Name" required/>
                  <div class="help-block muted">Please print name as you would like to be listed in the event program.</div>
              </div>
            </div>
            <div class="control-group">
              <label for="company" class="control-label">Company</label>
              <div class="controls">
                  <input type="text" name="company" id="company" placeholder="Company Name"/>
              </div>
            </div>
            <div class="control-group">
              <label for="contact" class="control-label">Contact Person</label>
              <div class="controls">
                  <input type="text" placeholder="Contact Person" name="contact" id="contact" required/>
              </div>
            </div>
            <div class="control-group">
              <label for="street" class="control-label">Street</label>
              <div class="controls ">
                  <input type="text" name="street" id="street" placeholder="Street Address" required/>
              </div>
            </div>
            <div class="control-group">
              <label for="city" class="control-label">City</label>
              <div class="controls">
                  <input type="text" name="city" id="city" placeholder="City" required/>
              </div>
            </div>
            <div class="control-group">
              <label for="state" class="control-label">State</label>
              <div class="controls">
                  <input type="text" name="state" id="state" placeholder="State" required/>
              </div>
            </div>
            <div class="control-group">
              <label for="zip" class="control-label">Zip</label>
              <div class="controls">
                  <input type="text" name="zip" id="zip" placeholder="Zip" required/>
              </div>
            </div>
            <div class="control-group">
              <label for="phone" class="control-label">Phone</label>
              <div class="controls">
                  <input type="tel" name="phone" id="phone" placeholder="Phone" required/>
              </div>
            </div>
            <div class="control-group">
              <label for="email" class="control-label">Email</label>
              <div class="controls">
                  <input type="email" name="email" id="email" placeholder="Email"/>
              </div>
            </div>
            <div class="control-group">
              <label for="itemValue" class="control-label">Item Value</label>
              <div class="controls">
                  <input type="number" name="itemValue" id="itemValue" placeholder="0.00"/>
              </div>
            </div>
            <div class="control-group">
              <label for="itemDescription" class="control-label">Item Description</label>
              <div class="controls">
                  <textarea id="itemDescription" name="itemDescription" rows="4" required></textarea>
              </div>
            </div>
            <div class="control-group">
              <label for="restrictions" class="control-label">Restrictions</label>
              <div class="controls">
                  <textarea id="restrictions" name="restrictions" rows="4"></textarea>
              </div>
            </div>
            <legend>Please check all that apply:</legend>
            <div class="control-group">
              <div class="controls">
                <label for="optionSelfDelivery"><input type="checkbox" id="optionSelfDelivery" name="optionSelfDelivery" value="true"/> I will deliver my item on (date).</label> <input type="text" id="selfDeliveryDate" name="selfDeliveryDate" size="10" class="span2 datepicker"/>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label for="optionPickup"><input type="checkbox" id="optionPickup" name="optionPickup" value="true"/> Please arrange for pick up of my item/certificate.</label>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label for="optionPrepareCertificate"><input type="checkbox" id="optionPrepareCertificate" name="optionPrepareCertificate" value="true"/> Please prepare a certificate for my donation.</label>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label for="optionDisplayMaterials"><input type="checkbox" id="optionDisplayMaterials" name="optionDisplayMaterials" value="true"/>I will provide brochures, photos or display materials.</label>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button type="submit" class="btn btn-large">Register Item</button>
              </div>
            </div>
      </fieldset>
  </form>
<% include footer.html %>
<% include scripts.html %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script> 
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
  <script type="text/javascript" src="/lib/moment-datepicker.min.js"></script>
  <script type="text/javascript" src="/js/donate.js"></script>
<% include tail.html %>
