        </div>
      </div>
    </div>
    <div id="footer" class="footer">
      <div class="footer-wrapper">
        <div class="container">
          <div class="inner-container">
            <div class="row-fluid">
              <div class="span6">
                <h3>Have Questions?</h3>
                <div class="row-fluid">
                  <div class="span6">
                    <address>
                      <strong>Ozanam</strong><br>
                      421 E 137th Street<br>
                      Kansas City, MO 64145<br>
                      <abbr title="Phone">P:</abbr> (816) 508-3600<br>
                      <abbr title="Fax">F:</abbr> (816) 508-3797<br>
                      <a href="http://www.ozanam.org">www.ozanam.org</a></p>
                    </address>
                  </div>
                  <div class="span6">
                    <address>
                      <strong>Kim Gregory</strong><br>
                      Special Events Manager<br>
                      <abbr title="Phone">P:</abbr> (816) 508-3606<br>
                      <abbr title="Fax">F:</abbr> (816) 508-3797<br>
                      <a href="mailto:kim.gregory@ozanam.org">kim.gregory@ozanam.org</a></p>
                    </address>
                  </div>
                </div>
              </div>
              <div class="span3 mobile-center">
                <img class="logo" src="/img/oz-logo.png" title="Ozanam"/>
              </div>
              <div class="span3 text-right mobile-center">
                <a href="http://www.facebook.com/pages/Ozanam/168776827476" class="social-icon facebook" title="Visit us on facebook!"></a>
                <a href="#" class="social-icon twitter" title="Visit us on Twitter!"></a>
                <a href="http://www.ozanamhome.wordpress.com/" class="social-icon feed" title="Stay up-to-date by reading our blog!"></a>
              </div>
            </div>
          </div>
          <div class="mobile-center">
            &copy; Ozanam 2013
          </div>
        </div>
      </div>
    </div>
  


