<div id="wrap">
  <div class="container content">
    <h2>Ozanam</h2>
    <p class="lead">Since 1948, Ozanam has helped thousands of at-risk youth dealing with emotional, behavioral and learning disabilities begin to get their lives back on track.</p>

    <p>Ozanam is a non-profit, social service agency located in Kansas City (Federal Tax ID # 44-0545442). On our main campus, our Residential Treatment Program provides therapeutic services in a home-like setting for boys and girls, ages 12 to 18, who are dealing with emotional, behavioral and learning disabilities. Additional students receive special education at Ozanam School as part of our Day Treatment Program.</p>

    <p>Beyond our main campus, Ozanam also provides several community-based programs. Our Pathways Transitional Living Program provides shelter and support services throughout Kansas City and Wichita to young adults who are at-risk of becoming homeless. Our Mentoring Program connects positive adult leaders to children in foster care who have very few resources. Ozanam further impacts the community by offering educational consultation services to more than 300 schools throughout the Midwest.</p>

    <p>Ozanam directly serves more than 200 youth daily and approximately 600 youth annually. Our goal is to help these boys and girls heal from past trauma, catch up in school, pursue vocational opportunities, learn life skills, form positive relationships, and begin to succeed in their homes, schools and communities. We could not do this without your support! Together we can help some of the most vulnerable youth become happy, healthy and productive members of society.</p>

    <p>For more information about Ozanam, please visit <a href="http://www.ozanam.org">www.ozanam.org</a>.</p>
    <p>&nbsp;</p>
    <div class="video-container">
      <iframe width="550" height="309" src="//www.youtube.com/embed/9OUXLc6x3og?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
