<% include header.html %>
  <h2>Ozanam Hollywood Holiday Gala</h2>
  <img src="img/gala-logo.gif" align="right"/>
  <p>This will be the 30th year of Ozanam's Hollywood Holiday Gala, which began as a movie benefit in 1983.</p>
  <p>&nbsp;</p>
  <p>Last year, nearly 800 people attended the event, helping us to raise about $560,000!</p>
  <p>&nbsp;</p>
  <p>All of the proceeds from the Gala fund scholarships for children and families who otherwise would not be able to benefit from the life-saving programs and services that Ozanam provides.</p>
<% include footer.html %>
<% include scripts.html %>
<% include tail.html %>
