<form class="form-signin" role="form" action="/login" method="POST">
  <input type="hidden" name="redirectTo" value="{{redirectTo}}"/>
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
  <input type="password" name="password" class="form-control" placeholder="Password" required>
  <div class="alert alert-danger{{#unless message}} hide{{/unless}}">{{message}}</div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
