<div id="wrap">
  <div class="container content">
    <!-- content start  -->
    <h2 class="blue">Registration</h2>
    <form id="registrationForm" method="POST" action="/register">
      <fieldset>
        <legend>Corporate Sponsor Agreement</legend>
        <div class="form-group">
          <label for="company">Listing Name</label>
          <input type="text" name="company" id="company" class="form-control" placeholder="Company or name to be listed in program" required/>
          <div class="help-block muted">Please print name as you would like to be listed in the event program.</div>
        </div>
        <div class="form-group">
          <label for="contact">Contact</label>
          <input type="text" class="form-control" placeholder="Contact Name" name="contact" id="contact" required/>
        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" name="street" id="street" class="form-control" placeholder="Street Address" required/>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-sm-4">
            <label for="city">City</label>
            <input type="text" name="city" id="city" class="form-control" placeholder="City" required/>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label for="state">State</label>
            <input type="text" name="state" id="state" class="form-control" placeholder="State" required/>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label for="zip">Zip</label>
            <input type="text" name="zip" id="zip" placeholder="Zip" class="form-control" required/>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-sm-6">
            <label for="phone">Phone</label>
            <input type="tel" name="phone" id="phone" placeholder="Phone" required class="form-control"/>
          </div>
          <div class="col-xs-12 col-sm-6">
            <label for="fax">Fax</label>
            <input type="tel" name="fax" id="fax" placeholder="Fax" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" required class="form-control"/>
        </div>
        <div class="form-group   sponsorships">
          <a id="sponsor"></a><label>Sponsorship</label>
          <div class="row container">
            <div class="col-md-6 col-sm-12">
              <ul>
                <li><label for="level_1"><input type="radio" name="level" id="level_1" value="1"/> Hollywood Star $25,000 + (30 seats)</label></li>
                <li><label for="level_2"><input type="radio" name="level" id="level_2" value="2"/> Major Star $15,000 (20 seats)</label></li>
                <li><label for="level_3"><input type="radio" name="level" id="level_3" value="3"/> Star $10,000 (10 seats)</label></li>
                <li><label for="level_4"><input type="radio" name="level" id="level_4" value="4"/> Co-Star $5,000 (10 seats)</label></li>
                <li><label for="level_5"><input type="radio" name="level" id="level_5" value="5"/> Producer $3,000 (10 seats)</label></li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">
              <ul>
                <li><label for="level_6"><input type="radio" name="level" id="level_6" value="6"/> Table Sponsor $2,000 (10 seats)</label></li>
                <li><label for="level_7"><input type="radio" name="level" id="level_7" value="7"/> Underwriter $1,500 (2 seats)</label></li>
                <li><label for="level_8"><input type="radio" name="level" id="level_8" value="8"/> Supporting Cast $750 (4 seats)</label></li>
                <li><label for="level_9"><input type="radio" name="level" id="level_9" value="9"/> Corporate Sponsor $450 (2 seats)</label></li>
                <li><label for="level_10"><input type="radio" name="level" id="level_10" value="10" checked/> Extra Seats Only</label></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Extra Seats</label>
              <div class="input-group">
                <input type="number" min="0" step="1" name="extra" id="extra" placeholder="0" class="form-control"/>
                <span class="input-group-addon"> ($150/ea)</span>
              </div>
            </div>
            <div class="help-block muted">Enter the number of seats</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Donation</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" min="0" step="1" name="donation" id="donation" placeholder="0" class="form-control"/>
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="help-block muted">I am unable to attend the event but would like to make a donation.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="seating">Seating</label>
          <textarea id="seating" name="seating" class="form-control" rows="3"></textarea>
          <div class="help-block muted">The following individuals will be seated at our table(s). Each table can seat up to 10 people.</div>
        </div>
        <div class="form-group">
          <label for="companyMatch"><input type="checkbox" id="companyMatch" name="companyMatch" value="true"/> Yes! My company will match my contribution.</label>
        </div>
        <div class="form-group">
          <label for="myoTaxCreditInfo"><input type="checkbox" id="myoTaxCreditInfo" name="myoTaxCreditInfo" value="true"/> *I'm interested in Missouri Youth Opportunity Tax Credits forms.</label>
        </div>
        <p class="well well-sm small">*Donations eligible for Youth Opportunity (YOP) Tax Credits must be received by June 30, 2015. Please indicate your interest to us so we can provide you with a one-page form to complete in order to claim the credits. They are available on a first-come, first-served basis. <a href="http://ded.mo.gov/BCS%20Programs/BCSProgramDetails.aspx?BCSProgramID=85">Download our informational insert</a> or visit the Missouri government’s website for more details.
          <br/>&nbsp;
          <br/>Read more about <a href="//s3.amazonaws.com/assets.ozanamgala.org/yop-2014.pdf">Missouri Youth Opportunity Tax Credits</a> (PDF 229KB).
        </p>
        <div class="form-group">
          <label for="boardMember">Board / Committee Member</label>
          <input type="text" name="boardMember" id="boardMember" class="form-control"/>
          <div class="help-block muted">Did one of Ozanam's supporters refer you? Enter his/her name here.</div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary">Continue</button>
          <br class="visible-xs"/><span class="small text-muted">&nbsp;Alternatively, you may also <a href="//s3.amazonaws.com/assets.ozanamgala.org/2014-corporate-commitment-form.pdf">download this form in PDF (1MB)</a>.</span>
        </div>
        <div id="error" class="hide alert alert-error"></div>
      </fieldset>
    </form>
  </div>
</div>
