<div id="wrap">
  <div class="container content">
    <h2 class="blue">Registration</h2>
    <p>
    Online registration is now closed. We are excited to have more than 800 guests attending our 2013 event!
    If you have already registered, then simply check in upon your arrival. You will receive a program and bid number at that time.
    Please contact <a href="mailto:Kim.Gregory@ozanam.org">Kim Gregory</a> at 816-508-3606 if you have questions or need any assistance.</p>
    <p class="lead">Thank you!</p>
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/registration.js"></script>
