<% include header.html %>
<div id="wrap">
<div class="container content">
  <!-- content start  -->

<h2>Thank You!</h2>

<%if (problem) {%>
<p>We apologize for the inconvenience, but our PayPal checkout failed to complete successfully. We still have your registration, but we will need you to mail us a check for the total shown below.</p>
<%}%>

<p>You will receive a letter acknowledging your reservation soon. Please print this page for your records. We appreciate your support!</p>

<p>Your confirmation code is: <br/><span class="monotype"><%=id.toUpperCase()%></span></p>


<%if(doc.order.paymentOption === 'check' || problem === 1) {%>
<p>Please mail a check for the amount of <span class="monotype">$<%=amount%></span> payable to:
<address>
  <strong>Ozanam’s Hollywood Holiday Gala</strong><br>
  421 E 137th Street<br>
  Kansas City, MO 64145<br>
</address>
</p>
<%}%>
<p>Please share this event with your friends and colleagues.</p>

<%if (doc.order.paymentOption === 'paypal') {%>
<p>&nbsp;</p>
<%}%>
<% include footer.html %>
<% include scripts.html %>
<% include tail.html %>
