<% include header.html %>
<div id="wrap">
<div class="container content">
  <!-- content start  -->

<h2>Thank You!</h2>

<%if (model.problem) {%>
<p>We apologize for the inconvenience, but our PayPal checkout failed to complete successfully. We still have your registration, but we will need you to mail us a check for the total shown below.</p>
<%}%>

<p>We will contact you soon to confirm your sponsorship. Your confirmation code is: </p>
<p class="monotype"><%=id.toUpperCase()%></p>

<%if(payment === 'check' || model.problem === 1) {%>
<p>Please mail a check for the amount of <span class="monotype">$<%=amount%></span> payable to:
<address>
  <strong>Ozanam</strong><br>
  421 E 137th Street<br>
  Kansas City, MO 64145<br>
</address>
</p>
<%}%>
<p>Please share this event with your friends and colleagues.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<% include footer.html %>
<% include scripts.html %>
<% include tail.html %>
