/*-----SITE-STYLES-----*/

body {
  font: 20px/28px Georgia, "times new roman", times, serif;
}

.content {
  padding-bottom: 80px;
}

h2 {
  font-size: 50px;
  line-height: 70px;
  margin: 18px 0 12px 0;
 } 
  
h2, h3, h4 {
  font-weight: bold;
  line-height: 1.1em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin: 36px 0 18px 0; 
 text-shadow: 0 3px 3px rgba (0, 0, 0, 0.5);
}

fieldset {
  padding-top: 20px;
}

#sponsor li, #sponsor p {
  font-size: 15;
  line-height: 32px;
}
#sponsor h3 a { color: #98464e;}

#wrap {
   background: transparent url('../img/stars.gif') repeat;
}

input[type="radio"], input[type="checkbox"] {
  margin-top: -4px;
  margin-right: 5px;
}

div.help-block {
  background: transparent url('../img/uparrow.png') no-repeat left top;
  padding-left: 20px;
  margin-top: 5px !important;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', "Helvetica Neue", sans-serif;
  line-height: 20px;
}
body p.lead {
  font-size: 32px;
  line-height: 40px;
}

.content p {
  margin-bottom: 30px;
}
.controls,.controls label {
  font: 18px/28px "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

#sponsor li, #sponsor p {
  font-size: 15;
  line-height: 32px;
}

.navbar a {  
  text-transform: uppercase;
  font: 20px/40px "Open Sans Condensed", sans-serif;
}

.navbar .nav > li > a {
  text-shadow: none;
}

.navbar {
  background-image: none;
  background-color: #CE3745;
  border-width: 5px 0;
  border-top: 5px solid #dd6973;
  border-radius: 0;
  border-bottom: 5px solid #dd6973;
}

.navbar .brand {
  font-weight: bold;
  text-shadow: none;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 7px;
  margin-bottom: 7px;
}


.controls,.controls label {
  font: 18px/28px "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

#footer {
  min-height: 310px;
  font-size: 18px;
  line-height: 22px;
}
.footer {
  color: #808080;
  /*background: #202020;/*#591d21*/
  background: url('../img/footer-bg.gif') repeat;
 }
.footer a {color: #86121d;}
.footer-wrapper {
    background: transparent url('../img/footer-shadow.gif') repeat-x 0 0;
}
.footer .container {
  padding: 30px;
  width: auto;
}
.footer .inner-container {
  min-height: 220px;
}

.footer h3 {
  line-height: auto;
  color: #98464e;
}

.social-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 5px;
}
.social-icon.facebook {
  background: url('../img/oz-icons.png') no-repeat 0px 0px;
}
.social-icon.twitter {
  background: url('../img/oz-icons.png') no-repeat -44px 0px;
}
.social-icon.feed {
  background: url('../img/oz-icons.png') no-repeat -88px 0px;
}

@media (min-width: 550px) {
  .navbar-inner {
    webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
@media (max-width: 550px) {
  .mobile-center {
    text-align: center;
  }
}
@media (max-width: 767px) {
  body { padding: 0; }
}
@media (max-width: 990px) {
  #wrap {
  padding-right: 20px;
  padding-left: 20px;
  }
}

.sponsorships ul {
  list-style: none;
}
.sponsorships li {
  display: block;
}
.navbar { margin-bottom: 0;}


.image-web1 {
  width: 100%;
  height: 408px;
  background: url('http://assets.ozanamgala.org/web1.jpg') center center no-repeat;
  background-size: cover;
}
.image-web2 {
  width: 100%;
  height: 408px;
  background: url('http://assets.ozanamgala.org/web2.jpg') center center no-repeat;
  background-size: cover;
}
.image-web3 {
  width: 100%;
  height: 408px;
  background: url('http://assets.ozanamgala.org/web3.jpg') center center no-repeat;
  background-size: cover;
}
.image-web4 {
  width: 100%;
  height: 408px;
  background: url('http://assets.ozanamgala.org/web4.jpg') center center no-repeat;
  background-size: cover;
}
.monotype {
  font-family: consolas;
}